---
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']
const urlSegments = currentUrlPath.split("/").slice(1);

// Build breadcrumb list with slug and label
interface BreadcrumbItem {
  slug: string;
  label: string;
}

const breadcrumbList: BreadcrumbItem[] = urlSegments.map(segment => ({
  slug: segment,
  label: segment,
}));

// if breadcrumb is Home > Posts > 1 <etc>
// replace Posts with Posts (page number)
if (breadcrumbList[0]?.slug === "posts") {
  breadcrumbList.splice(0, 2, {
    slug: "posts",
    label: `Bài viết (Trang ${urlSegments[1] || 1})`,
  });
}

if (breadcrumbList[0]?.slug === "about") {
  breadcrumbList.splice(0, 1, { slug: "about", label: "Giới thiệu" });
}

if (breadcrumbList[0]?.slug === "search") {
  breadcrumbList.splice(0, 1, { slug: "search", label: "Tìm kiếm" });
}

if (breadcrumbList[0]?.slug === "archives") {
  breadcrumbList.splice(0, 1, { slug: "archives", label: "Lưu trữ" });
}

if (breadcrumbList[0]?.slug === "tags") {
  breadcrumbList.splice(0, 1, { slug: "tags", label: "Chủ đề" });
}

// if breadcrumb is Home > Tags > [tag] > [page] <etc>
// replace [tag] > [page] with [tag] (page number)
if (
  breadcrumbList[0]?.slug === "tags" &&
  !isNaN(Number(breadcrumbList[1]?.slug))
) {
  breadcrumbList.splice(1, 2, {
    slug: breadcrumbList[1]?.slug,
    label: `${breadcrumbList[1]?.slug} ${Number(breadcrumbList[2]?.slug) === 1 ? "" : "(Trang " + breadcrumbList[2]?.slug + ")"}`,
  });
}
---

<nav class="app-layout mt-8 mb-1" aria-label="breadcrumb">
  <ul
    class="font-light [&>li]:inline [&>li:not(:last-child)>a]:hover:opacity-100"
  >
    <li>
      <a href="/" class="opacity-80">Trang chủ</a>
      <span aria-hidden="true" class="opacity-80">&raquo;</span>
    </li>
    {
      breadcrumbList.map((item, index) =>
        index + 1 === breadcrumbList.length ? (
          <li>
            <span
              class:list={["opacity-75", { lowercase: index > 0 }]}
              aria-current="page"
            >
              {/* make the last part lowercase in Home > Tags > some-tag */}
              {decodeURIComponent(item.label)}
            </span>
          </li>
        ) : (
          <li>
            <a href={`/${item.slug}/`} class="opacity-70">
              {item.label}
            </a>
            <span aria-hidden="true">&raquo;</span>
          </li>
        )
      )
    }
  </ul>
</nav>
